services:
  db:                       
    image: mariadb          
    environment:             
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: demo
    ports: 
       - 3306:3306     
    volumes:               
      - ./db_data:/var/lib/mysql 
      
  phpmyadmin:            
    image: phpmyadmin    
    depends_on:
      - db
    ports:
      - 8080:80
    environment:        
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: example
